asgiref
colorama
Django
exceptiongroup
Faker
flake8
iniconfig
mccabe
mypy
mypy-extensions
packaging
Pillow
pluggy
pycodestyle
pyflakes
pytest
pytest-django
python-dateutil
six
sqlparse
tomli
typing_extensions
tzdata
